h1 {
    color: brown;
}
p,h2 {
text-align: center;
}
.header{
    background-color: teal;
    display:flex;
    justify-content: space-between;
    
}
.grid{
background-color: thistle;
display:flex;
justify-content: flex-start;
}
.footer{
    display: flex;
    justify-content: flex-end;
}